<div class="show-info">
	<h2>The Fillmore</h2>
	<h4>March 14, 2013</h4>
	<h4>8:00PM</h4></br>
</div>

<div class="lineup">
	</br><h2>Vampire Weekend</h2>
	</br><h2>The Shins</h2>
</div>

<div class="tracks">
	
	<div id="vampire-track">
		<iframe src="https://embed.spotify.com/?uri=spotify:artist:5BvJzeQpmsdsFp4HGUYUEx" width="300" height="80" frameborder="0" allowtransparency="true">
		</iframe>
	</div>
	
	<div id="shins-track">
		<iframe src="https://embed.spotify.com/?uri=spotify:artist:4LG4Bs1Gadht7TCrMytQUO" width="300" height="80" frameborder="0" allowtransparency="true">
		</iframe>
	</div>

</div>
</div>

