<div class="lineup" id="show1">

	<div class="show-info">
		<div class="btn-group" style="float: right;">
			<button class="btn btn-primary">Buy Tickets</button>
		</div>
		<h2>The Fillmore</h2>
		<h4>March 14, 2013</h4>
		<h4>Show at 8:00PM, Doors at 7:30</h4>
	</div>
	
	<div class="band" id="1-1">
		<p>Vampire Weekend<iframe src="https://embed.spotify.com/?uri=spotify:artist:5BvJzeQpmsdsFp4HGUYUEx" width="300" height="80" 	frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>	
		<li>indie rock / pop</li>
	</div>
	
	<div class="band" id="1-2">
		<p>The Shins<iframe src="https://embed.spotify.com/?uri=spotify:artist:4LG4Bs1Gadht7TCrMytQUO" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>folk / indie rock</li>
	</div>

	<div class="band" id="1-3">
		<p>Wiz Khalifa<iframe src="https://embed.spotify.com/?uri=spotify:artist:137W8MRPWKqSmrBGDBFSop" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>rap / hip-hop</li>
	</div>

</div>

