<div class="lineup" id="show2">

	<div class="show-info">
		<div class="btn-group" style="float: right;">
			<button class="btn btn-primary">Buy Tickets</button>
		</div>
		<h2>Bottom of the Hill</h2>
		<h4>March 15, 2013</h4>
		<h4>Show at 8:00PM, Doors at 7:30</h4>		
	</div>

	<div class="band" id="2-1">
		<p>Creedence Clearwater Revival<iframe src="https://embed.spotify.com/?uri=spotify:artist:3IYUhFvPQItj6xySrBmZkd" width="300" height="80" 	frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>	
		<li>rock / awesome</li>
	</div>

	<div class="band" id="2-2">
		<p>Jim Croce<iframe src="https://embed.spotify.com/?uri=spotify:artist:1R6Hx1tJ2VOUyodEpC12xM" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>folk / rock</li>
	</div>

	<div class="band" id="2-3">
		<p>KISS<iframe src="https://embed.spotify.com/?uri=spotify:artist:07XSN3sPlIlB2L2XNcTwJw" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>rock n' roll / eat your face</li>
	</div>

</div>