<div class="lineup" id="show4">

	<div class="show-info">
		<div class="btn-group" style="float: right;">
			<input type="button" value="Buy Tickets" class="btn btn-primary" onclick="window.open('http://www.theindependentsf.com/event/194701-toro-y-moi-san-francisco/')">
		</div>
		<h2>The Independent</h2>
		<h4>March 1, 2013</h4>
		<h4>Show at 8:00PM, Doors at 7:30</h4>
	</div>
	
	<div class="band" id="4-1">
		<p>Toro Y Moi<iframe src="https://embed.spotify.com/?uri=spotify:artist:6O4EGCCb6DoIiR6B1QCQgp" width="300" height="80" 	frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>	
		<li>indie / electronic</li>
	</div>
	
	<div class="band" id="4-2">
		<p>Sinkane<iframe src="https://embed.spotify.com/?uri=spotify:artist:0ip3L7jX2aq8T1VTJRFZ9w" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>free jazz / shoegaze</li>
	</div>

	<div class="band" id="4-3">
		<p>Dogbite<iframe src="https://embed.spotify.com/?uri=spotify:artist:02f8jBfC9nBrWUMvqVieX6" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>ambient / electronic</li>
	</div>

	<div class="band" id="4-4">
		<p>DRMS<iframe src="https://embed.spotify.com/?uri=spotify:artist:7hat7k1FZHg0u7yeBcEiAZ" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>indie / pop</li>
	</div>

</div>