<div class="lineup" id="show3">

	<div class="show-info">
		<div class="btn-group" style="float: right;">
			<button class="btn btn-primary">Buy Tickets</button>
		</div>
		<h2>Great American Music Hall</h2>
		<h4>March 16, 2013</h4>
		<h4>Show at 8:00PM, Doors at 7:30</h4>
	</div>
	
	<div class="band" id="3-1">
		<p>Jimi Hendrix<iframe src="https://embed.spotify.com/?uri=spotify:artist:776Uo845nYHJpNaStv1Ds4" width="300" height="80" 	frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>	
		<li>rock n' roll</li>
	</div>
	
	<div class="band" id="3-2">
		<p>Al Di Meola<iframe src="https://embed.spotify.com/?uri=spotify:artist:3bBWKHfpepPOychRNFzg4q" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>instrumental / soft rock</li>
	</div>

	<div class="band" id="3-3">
		<p>Buckethead<iframe src="https://embed.spotify.com/?uri=spotify:artist:0fDF0jjmdouCIeWhNnblwV" width="300" height="80" frameborder="0" allowtransparency="true" style="float: right;"></iframe></p>
		<li>heavy metal</li>
	</div>

</div>